@import url("https://fonts.googleapis.com/css2?family=Jaldi&display=swap");
* {
  margin: 0;
  padding: 0;
  /* height: 200vh; */
  font-family: Jaldi;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

.center_content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
}

.index-btns {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 1em;
}

.index-btns button {
  border-style: none;
  background-color: #5a78ff;
  border-radius: 45px;
  font-size: 30px;
  width: 220px;
  color: #ffffffe8;
  transition: all 0.4s;
}

.btn-inicio:hover,
.btn-entrar:hover {
  background-color: #768efa;
  color: #ffffff;
  scale: 1.1;
}

button {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #5a78ff;
} */

.nav-ongs {
  display: flex;
  justify-content: center;
  padding: 30px;
  border-bottom: 1px solid rgba(104, 99, 99, 0.507);
}

/* index */

#nav-2 {
  display: flex;
  align-items: center;
  background-image: url(../imagens/pag1.png);
  background-size: cover;
  height: 100vh;
}

.minha-ong-btn {
  padding: 0 2em 0 2em;
}

.main-logo {
  display: flex;
  flex-direction: column;
}

#img-principal {
  width: 100%;
}

.nav-index {
  display: flex;
  justify-content: center;
  padding: 30px;
  border-bottom: 1px solid rgba(104, 99, 99, 0.507);
  background-color: #dfdfdf;
  gap: 50%;
  height: 70%;
}
/*section-2*/

/* section informações */

.img-fundo {
  width: 100%;
  height: 100vw;
  background-image: url(../imagens/main-bg-agape.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: -260px;
}

.elements {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#informacao-2,
#informacao-1 {
  display: flex;
  justify-content: space-evenly;
}

#imgcor,
#imgdoa {
  width: 20%;
}

#informacao-2 p,
#informacao-1 p {
  width: 50%;
  font-size: 36px;
  color: #fff;
}

#informacao-2 p {
  margin-top: 44px;
  font-size: 36px;
  color: #fff;
  text-align: right;
}

/*cadastro*/
/* #div-cad {
  display: flex;
  margin: 5rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 170px;
  border-radius: 40px;
  background-color: rgb(139, 118, 221);
  height: 600px;
} */
#div-cad {
  display: flex;
  margin-top: 10rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;
  border-radius: 24px;
  backdrop-filter: blur(5.5px);
}

.campos {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 5em;
  gap: 70px;
}

#div-cad p {
  font-size: 42px;
  color: black;
}

.icon-div-cad {
  background-color: #c79dff;
  border-radius: 70px;
}

.traco {
  height: 19rem;
  width: 1px;
  background-color: #fff;
}

.doador {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  scale: 1.1;
  padding: 30px;
  background-color: #fff;
  border-radius: 30px;
  border: 2px solid #f088c7;
}

.ong p,
.doador p {
  font-size: 50px;
  font-weight: 400;
  color: #fff;
  text-align: center;
}

#btn-doadorC,
#btn-doadorA {
  font-family: Jaldi;
  width: 200px;
  height: 44px;
  border-radius: 30px;
  border: 2px solid #f088c7;
  background: #ffffff;
  font-size: 25px;
  color: #f088c7;
}

#btn-doadorC {
  background: #c79dff;
  color: #fff;
  border: none;
}

#btn-ongA,
#btn-ongC {
  font-family: Jaldi;
  width: 200px;
  height: 44px;
  border-radius: 30px;
  border: none;
  background: #c79dff;
  font-size: 25px;
  color: #fff;
}
#btn-ongA {
  background: #ffffff;
  color: #f088c7;
  border: 2px solid #f088c7;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(253, 245, 255);
  margin-top: 10em;
  padding: 6em;
}

.footer-logo {
  flex-direction: column;
}

.footer-socials {
  display: inline-block;
  border-top: 1px solid #d36ba9;
  /* margin-left: 12em; */
  gap: 2em;
  margin-left: 1em;
  margin-top: 2em;
  padding-top: 1.5em;
}

.footer-socials i {
  margin-right: 1em;
  margin-left: 1em;
  color: #d36ba9;
  font-size: 2.5rem;
}

.ong {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  scale: 1.1;
  background-color: #fff;
  border: 2px solid #c79dff;
  border-radius: 30px;
}
.div-logo {
  transform: translateY(100px);
}
.div-logo img {
  border-bottom: 2px solid rgba(104, 99, 99, 0.742);
  cursor: none;
  position: fixed;
}

/* Modals */

textarea {
  font-size: 1.3rem;
  outline: none;
  color: #000;
  padding: 10px;
  border: none;
  resize: none;
  background-color: #ffffff;
  border-radius: 0.2em;
  width: 400px;
  height: 200px;
}

.modal-add-comment {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal-add-comment form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 2em 10em;
  border-radius: 1em;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(252, 192, 255);
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.152);
  animation: zoomIn 300ms ease;
}

.modal-add-comment button {
  background-color: rgb(252, 192, 255);
  border: none;
  font-size: 1.5em;
  border-radius: 1em;
  padding: 0.2em 2em;
}

.modal-add-comment label {
  font-size: 2rem;
  margin-top: -1em;
}

.modal-add-comment i {
  font-size: 2rem;
  align-self: flex-end;
  transform: translateX(8rem);
  margin-top: -10px;
  cursor: pointer;
  color: rgb(252, 192, 255);
}

.modal-add-comment textarea {
  border: 1px solid rgb(252, 192, 255);
}

.modal-add-comment textarea::placeholder {
  opacity: 0.5;
}

.modal-hidden {
  display: none;
}

.modal-show {
  display: block;
}

/* bolhas cad */

.bolha-1 {
  position: absolute;
  background-color: rgba(222, 40, 194, 0.471);
  width: 90px;
  height: 90px;
  border-radius: 90px;
  top: -26px;
  right: -68px;
}
.bolha-3 {
  position: absolute;
  border-color: rgba(102, 64, 238, 0.2);

  width: 90px;
  height: 90px;
  border-radius: 90px;
  top: -6px;
  right: -8px;
}
.bolha-4 {
  position: absolute;
  background-color: rgba(222, 40, 194, 0.471);
  width: 90px;
  height: 90px;
  border-radius: 90px;
  top: -26px;
  right: -68px;
}
.bolha-1 {
  position: absolute;
  background-color: rgba(222, 40, 194, 0.471);
  width: 90px;
  height: 90px;
  border-radius: 90px;
  top: -26px;
  right: -68px;
}
.bolha-2 {
  position: absolute;
  background-color: rgba(112, 174, 255, 0.373);
  width: 50px;
  height: 50px;
  border-radius: 50px;
  bottom: 80px;
  right: -55px;
}

.fa-circle-exclamation {
  font-size: 5em;
  color: rgb(186, 22, 22);
}

.success {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
