*{
    padding: 0;
    margin: 0;

}
.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 210px;
    width: 500px;
    z-index: 9999;
    border-radius: 58px;
    padding: 1rem;     
   

}
/* 
.modal::backdrop{
backdrop-filter: blur(5px);

} */

/* .div-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
} */

.container-modal{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0 ,0.55 );
    height: 100%;
    width: 100%;
    z-index: 200;
    transition: all 0.3s linear;  
}

.modal-btns{
    display: flex;
    height: 20%;
 align-self: flex-end;
 
 margin-bottom: 20px;
 gap: 20px;
 

}

#btn-modal-avancar,#btn-modal-cancel{
    border: none;
    padding: 0.8rem;
    width: 7rem;
    font-family: "Open sans",sans-serif;
    transition: all 1s;
    border-radius: 40px;
}



#btn-modal-cancel{
    background-color: rgb(236, 89, 89);
    color: #fff;
}

#btn-modal-cancel:hover{
    background-color: rgb(170, 2, 2);
}

#btn-modal-avancar{
    /* background-color: rgb(52, 52, 243); */
    color: #fff;
    background-color: #C79DFF;
}

#btn-modal-avancar:hover{
    /* background-color: rgb(108, 108, 241); */
    background-color: #a561fd;
}

.content-modal{
    margin-bottom: -20PX;
}


/* Redefinir senha */

#input-senha-redefinir{
    border: none;
    padding: 0.8rem;
    width: 7rem;
    font-family: "Open sans",sans-serif;
    transition: all 1s;
    border-radius: 40px;
    background-color: #d6d6d6;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    background-color: #C79DFF;
    width: 50%;
    height: 300px;
  
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}