@import url("https://fonts.googleapis.com/css2?family=Jaldi&display=swap");
* {
  margin: 0%;
  padding: 0%;
  /* height: 200vh; */
  font-family: Jaldi;
  
}
button {
  cursor: pointer;
 
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5a78ff;
}

::-webkit-scrollbar-thumb {
  background: #5a78ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5a77f8d2;
}
.nav-ongs {
  display: flex;
  justify-content: center;
  padding: 30px;
  border-bottom: 1px solid rgba(104, 99, 99, 0.507);
}

/* index */

#nav-2 {
  height: 60rem;
  background-image: url(../imagens/pag1.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.nav-index {
  display: flex;
  justify-content: center;
  padding: 30px;
  border-bottom: 1px solid rgba(104, 99, 99, 0.507);
  background-color: #dfdfdf;
  gap: 50%;
  height: 70%;
 
}
/*section-2*/

/* pg2 1 */

.section-1{
  background-image: url(../imagens/pg2.png);
  
}
#imgcor,
#imgdoa{
  width: 20%;
 
}




/*cadastro*/
.div-cad {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.campos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
.div-cad p {
  font-size: 42px;
  color: #75748a;
}

#pp {
  font-size: 64px;
  font-weight: 400;
  color: #75748a;
}
.traco{
  height: 19rem;
  width: 1px;
  background-color: #75748a;
}
.doador {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.doador p {
  font-size: 64px;
  font-weight: 400;
  color: #75748a;
  text-align: center;
}
.ong p {
  font-size: 64px;
  font-weight: 400;
  color: #75748a;
  text-align: center;
}


#btn-doadorC {
  font-family: Jaldi;
  width: 200px;
  height: 44px;
  border-radius: 30px;
  border: 2px solid #f088c7;
  background: #f088c7;
  font-size: 25px;
  color: #fff;
  
}
#btn-doadorA {
  font-family: Jaldi;
  width: 200px;
  height: 44px;
  border-radius: 30px;
  border: 2px solid #f088c7;
  background: #ffffff;
  font-size: 25px;
  color: #f088c7;
  
  
}

#btn-ongC {
  font-family: Jaldi;
  width: 200px;
  height: 44px;
  border-radius: 30px;
  border: 2px solid #f088c7;
  background: #f088c7;
  font-size: 25px;
  color: #fff;
  
}
#btn-ongA {
  font-family: Jaldi;
  width: 200px;
  height: 44px;
  border-radius: 30px;
  border: 2px solid #f088c7;
  background: #ffffff;
  font-size: 25px;
  color: #f088c7;
  
}
/* #btn-ongC:hover{
  background-color: #fff;
  color: #f088c7;
} */
/* #btn-doadorC:hover::after{
  background-color: #fff;
  color: #f088c7;
} */
/* #btn-ongA:hover{
  background-color: #f088c7 ;
  color: #fff;
}

#btn-doadorA:hover{
  background-color: #f088c7 ;
  color: #fff;
} */
footer{
  width: 100%;
  height: 150px;
 background: #D9D9D9;

}

.ong {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/**/
/**/
/**/
.bolha {
  position: absolute;
}

.bolha-1 {
  background-color: rgba(222, 40, 194, 0.471);
  width: 200px;
  height: 200px;
  border-radius: 200px;
  transform: translateX(70px);
  transform: translateY(-129px);
}
.bolha-2 {
  background-color: rgba(112, 174, 255, 0.373);
  width: 250px;
  height: 250px;
  border-radius: 250px;
  translate: 230px;
  transform: translateY(-320px);
}

.div-logo {
  transform: translateY(100px);
}
.div-logo img {
  border-bottom: 2px solid rgba(104, 99, 99, 0.742);
  cursor: none;
  position: fixed;
}



