@import url("https://fonts.googleapis.com/css2?family=Jaldi&display=swap");

/* ver ongs*/
* {
  margin: 0%;
  padding: 0%;
  font-family: jaldi;
}
/* nav */
#nav-ongs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #beaeff;
  margin-bottom: 3%;
  box-shadow: 0 0 25px 10px rgba(190, 174, 255, 0.719);
}
#nav-ongs button {
  outline: none;
}
.-nav {
  margin-right: 100px;
}

.btn-perfil,
.btn-visualizar-ongs {
  padding: 10px 0 10px 0;
  color: #ffffff;
  font-size: 20px;
  font-family: Jaldi;
  border: 2px solid #ffffff;
  font-weight: 700;
}

.btn-perfil {
  width: 7em;
  background-color: #beaeff;

  border-radius: 40px;
  text-align: center;
}
.btn-visualizar-ongs {
  width: 13em;

  background-color: #6640ee77;
  border-radius: 40px;
}

.input-nav {
  display: flex;
  gap: 15%;
}

#logo {
  transform: translateX(-30%);
  margin: 1%;
}

#title {
  translate: -27% 100%;
  font-weight: 600;
  color: #75748A;
}

#search {
  position: static;
  border-radius: 30px;
  padding: 1px 2px 0px 48px;
  border: 2px solid #ffffff;
  background-color: #beaeff;
  font-size: 22px;
  color: #ffffff;
  outline: 0;
  width: 140%;
}
#search::placeholder {
  font-size: 110%;
  text-align: left;
  font-family: jaldi;
  color: #ffffff;
  font-weight: 700;
  word-spacing: 5px;
}

#lupa {
  position: absolute;
  translate: 15px -33px;
}

.nav-ongs img {
  margin-bottom: 1%;
  margin-top: 1%;
  margin-left: 4%;
}
/* conteudo */

.banners {
  /* background-color: gray; */
  display: grid;
  grid-template-columns: repeat(4, 20em);
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}
.banner-0 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid red; */
  width: 30%;
  height: 10em;
  padding: 4em;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.075);
  margin: 4em 10em 4em 2em;
  cursor: pointer;
}

/* .test {
  display: flex;
  justify-content: center;
  animation: bug 3s infinite alternate;
  background-color: #5a78ff;
  width: 100%;
} */

.banner-0 h1 {
  font-size: 20px;
  text-align: center;
  width: 200px;
  color: #fff;
}
.banner-0:hover {
  transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  scale: 105%;
  /* background-color: #e5e2f3; */
}

h1 {
  text-align: center;
}
footer {
  width: 100%;
  height: 150px;
  background: #d9d9d9;
}

/* imagens logo-ongs */
.logo-ong {
  background-color: #ffffff;
  box-shadow: 0 0 1.5px 1.5px rgba(0, 0, 0, 0.11);
  padding: 70px;
  border-radius: 140px;
  margin-bottom: 20px;
}
#ong-logo-tamanho {
  scale: 2;
}

.img-back-2 {
  background-image: url(../imagens/renanfurry.jpg);
  background-size: cover;
}
.img-back-1 {
  background-image: url(../imagens/logo.png);
  background-size: cover;
}
.img-back-3 {
  background-image: url(../imagens/logoMedico.jpg);
  background-size: cover;
}

@keyframes bug {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translatex(-50%);
  }
}
/* media resposividade  */
@media (max-width: 1350px) {
  .banners {
    grid-template-columns: repeat(3, 20em);
  }
}

@media (max-width: 1000px) {
  .banners {
    grid-template-columns: repeat(2, 20em);
  }
}

@media (max-width: 720px) {
  .banners {
    grid-template-columns: repeat(1, 20em);
  }
}

.position_1 {
  background: #6640ee;
  transition: all 1s;
}
.position_1:hover {
  background: rgba(102, 64, 238, 0.863);
  rotate: -2deg;
}
.position_2 {
  background: #9869f4;
  transition: all 1s;
}
.position_2:hover {
  rotate: 2deg;
}
.position_3 {
  background: #cb91f9;
  transition: all 1s;
}
.position_3:hover {
  rotate: 2deg;
}
.position_4 {
  background: #f4acf5;
  transition: all 1s;
}
.position_4:hover {
  rotate: -2deg;
}
.position_5 {
  background: #febaff;
  transition: all 1s;
}
.position_5:hover {
  rotate: -6deg;
}
